@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #353637;
}

h1 {
  font-size: 60px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}
ul{
  margin: 0;
}

a:not([class]):hover {
  text-decoration: none;
  color: #000;
}
button{
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: normal;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  height: 40px;
}

.header-logo-link {
  text-decoration: none;
  color: #353637;
}

.header-logo-text {
  color: #353637;
  font-weight: 600;
  line-height: 24px;
  margin-left: 10px;
}

.header-section-top * {
  display: inline;
}


.header-navbar {
  float: right;
}

.menu-list-item a {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
  transition: all .3s;
  border-bottom: 0px solid rgba(177, 190, 208, 0);
}
.menu-active a{
  border-bottom: 3px solid rgba(177, 190, 208, 1);
}
.header-menu-list a:hover {
  border-bottom: 3px solid rgba(177, 190, 208, 1);
}

.authorization-btn {
  background-color: #fff;
  padding: 10px 24px;
  font-weight: 600;
  border: 2px solid #999;
  border-radius: 35px;
  margin-left: 20px;
  cursor: pointer;
  transition: all .5s;
}

.authorization-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.header-inner {
  margin-top: 100px;
  display: flex;
}

.header-inner-descr_title {
  margin-bottom: 30px;
}

.header-inner-descr_text {
  font-size: 20px;
  line-height: 32px;
}

.header-inner-descr {
  margin-right: 80px;
  width: 65%;
}

.header-inner-card {
  width: 35%;
}

.header-inner-card-title {
  margin-bottom: 20px;
}

.header-inner-card-text {
  margin-bottom: 40px;
}

.header-inner-card-item {
  text-align: center;
  margin-bottom: 60px;
}

.header-inner-card-rating {
  display: flex;
  justify-content: space-between;
}

.header-inner-card-head {
  margin-bottom: 20px;

}

.header-inner-card-descr {
  font-size: 14px;
}

.header-inner-card-btn {
  padding: 16px 32px;
  background-color: #fff;
  color: #607d8b;
  font-weight: 600;
  border: 1px solid #607d8b;
  border-radius: 8px;
  cursor: pointer;
  transition: all .5s;
}

.header-inner-card-btn:hover {
  color: #fff;
  background: #607d8b;
}

.banner {
  margin-bottom: 100px;
}

.banner-inner {
  display: flex;
  gap: 16px;
}

.baner-left-img,
.banner-right-img {
  border-radius: 15px;
}

.banner-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-descr{
  /* position: absolute; */
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-top: -100px;
  text-align: center;
  color: #fff;
}

.check-inner {
  display: flex;
  margin-bottom: 100px;
}

.check-inner-img {
  width: 65%;
  border-radius: 9px 0 0 8px;
}

.check-header-title,
.popular-title,
.facilities-title,
.slider-title,
.news-title {
  text-align: center;
  margin-bottom: 16px;
}

.check-header-descr,
.popular-descr,
.slider-descr {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.check-inner-form {
  background-color: #F6FCFA;
  padding: 103px 68px 95px;
  border-radius: 0 8px 8px 0;
}

.check-label {
  text-transform: uppercase;
}

.check-input {
  margin-top: 10px;
  width: 340px;
  color: #636461;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F6FCFA;
  border: 1px solid #ABABAB;
  padding: 12px 14px;
  outline: none;
  margin-bottom: 30px;
  transition: all .5s;
}

.check-inner-btn {
  cursor: pointer;
}
.check-input:hover{
  border: 1px solid #596B86;
  color: #596B86;
}
.popular-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.card-item-inner {
  padding: 24px;
  border: 1px solid #ABABAB;
  margin-top: -5px;
}

.popular-cards-item {
  cursor: pointer;
}

.popular-cards-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
}

.popular-cards-item-descr {
  display: flex;
  justify-content: space-between;
}

.card-item-descr-wrapper {
  display: flex;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 16px;
}

.card-item-descr-wrapper img {
  width: 18px;
  height: 12px;
  margin-top: 2px;
}

.item-descr-wrapper-text {
  margin-left: 5px;
}

.popular-cards-item-price {
  font-weight: 600;
  font-size: 28px;
  line-height: 55px;
  color: #384d6c;
}

.popular-cards-item-price span {
  font-weight: 400;
  font-size: 20px;
}

.facilities-subtitle,
.news-subtitle,
.subscribe-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.26em;
  margin-bottom: 20px;
}

.facilities-wrapper {
  margin-top: 44px;
}

.facilities-wrapper-row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.facilities-item {
  border: 1px solid #596B86;
  padding: 20px 30px;
  transition: all .5s;
  background-color: #eaeffd;
}

.facilities-item:hover {
  scale: 1.2;
  background-color: #fff;
}

.facilities-item-title,
.facilities-item-img {
  display: inline-block;
}

.facilities-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
}

.facilities-item-img {
  float: right;
  margin-top: -10px;
}

.facilities-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #9B9B9B;
}

.slider {
  margin-top: 100px;
}

.slider-descr {
  margin-top: 13px;
}

.slider-item {
  background-color: #F6FCFA;
  display: flex;
  flex-direction: column;
}

.slider-inner {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.slider-inner-box {
  padding: 50px 37px;
}

.slider-inner-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
}

.slider-inner-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 50px;
}

.slider-inner-phrase,
.news-item-text,
.footer-inner {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

.active-slide {
  background-color: #7188AA8C;
  margin-top: -20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active-main{
  background-color: #597193;
  width: 20px;
  height: 12px;
  border-radius: 7px;
}

.pagination-inner{
 margin-top: 60px;
}
.news-pagination {
  margin-top: 70px;
  text-align: center;
}

.news {
  margin-top: 100px;
}

.newsSwiper .swiper-wrapper{
  margin-right: 5px;
}

.news-slider-item {
  cursor: pointer;
  margin-left: 1px;
}

.news-slider-img{
  width: 100%;
}

.news-item-box {
  padding: 19px 50px 28px 26px;
  border: 1px solid #596B86;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}

.news-item-status,
.status-travel,
.status-comment {
  display: flex;
  justify-content: space-between;
}

.status-travel-img,
.status-comment-img {
  margin-right: 10px;
}

.news-item-status {
  margin-bottom: 8px;
}

.news-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
}

.readmore {
  margin-top: 20px;
}

.news-item-link {
  text-decoration: none;
  margin-right: 10px;
}

.subscribe {
  margin-bottom: 80px;
}

.subscribe-title {
  text-align: center;
  margin: 0 auto;
}

.subscribe .container {
  margin-top: 100px;
  background-color: #b1bed0;
  border-radius: 10px;
}

.subscribe-inner {
  padding: 73px 280px;
  text-align: center;
}

.subscribe-subtitle {
  color: #fff;
  font-size: 20px;
  margin-bottom: 25px;
}

.subscribe-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 44px;
}

.subscribe-input {
  background-color: #fff;
  border: none;
  padding: 13px 19px;
  font-size: 14px;
  width: 354px;
  border-radius: 6px;
  box-shadow: 0px 2px 12px rgba(52, 52, 52, 0.15);
  outline: none;
}

.subscribe-submit {
  padding: 9px 15px 12px;
  color: #fff;
  background-color: #607d8b;
  border: none;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 3px;
  outline: none;
  cursor: pointer;
  height: 42px;
}

.logo-img,
.logo-text {
  display: inline-block;
}

.footer-inner {
  padding: 45px;
  display: flex;
  gap: 70px;
}

.footer-logo-link {
  cursor: pointer;
  text-decoration: none;
  color: #353637;
  font-weight: 600;
}
.footer-logo-link img{
  vertical-align: baseline;
}

.footer-item-text,
.footer-item-list {
  margin-top: 20px;
}

.footer-item-title {
  padding-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}

.footer-item-list,
.footer-item-list-social {
  list-style: none;
}

.footer-item {
  flex: 1;
}

.footer-item-list li {
  margin-top: 20px;
}

.footer-item-list li a {
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 10px;
  color: #353637;
}

.footer-item-list-social li {
  font-size: 20px;
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #353637;
  border-radius: 5px;
  margin-right: 10px;
}

.footer-item-list-social a {
  color: #353637;
}

.footer-bottom {
  background: #B1BED0;
  color: #353637;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.footer-copyright {
  font-weight: 500;
  font-size: 18px;
}

.footer-privacy ul {
  list-style: none;
}

.footer-privacy li {
  display: inline-block;
  margin: 0 10px;
}

.footer-privacy li a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #353637;
}